/rust/target/
/rust/Cargo.lock
/cpp/build/

# Terraform plugins dir
.terraform

# Terraform locks
.terraform.lock.hcl
.terraform.tfstate.lock.info

# Terraform local state
terraform.tfstate
terraform.tfstate.backup

# File with ad-hoc input values
terraform.tfvars
